<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMFC"
        tools:targetApi="31">
        <activity
            android:name=".TelaFaseMaturacao"
            android:exported="false" />
        <activity
            android:name=".TelaFaseProliferativa"
            android:exported="false" />
        <activity
            android:name=".TelaFaseInflamatoria"
            android:exported="false" />
        <activity
            android:name=".TelaTempoDuracao"
            android:exported="false" />
        <activity
            android:name=".TelaCicatrizacao"
            android:exported="false" />
        <activity
            android:name=".TelaMicrobiano"
            android:exported="false" />
        <activity
            android:name=".TelaCaracteristicas"
            android:exported="false" />
        <activity
            android:name=".TelaFuncoesPele"
            android:exported="false" />
        <activity
            android:name=".TelaEvolucao"
            android:exported="false" />
        <activity
            android:name=".TelaHistoria"
            android:exported="false" />
        <activity
            android:name=".TelaFisiologia"
            android:exported="false" />
        <activity
            android:name=".TelaIntroTratamento"
            android:exported="false" />
        <activity
            android:name=".TelaHistoriaEvolucao"
            android:exported="false" />
        <activity
            android:name=".TelaAvaliacao"
            android:exported="false" />
        <activity
            android:name=".TelaInicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>